.DS_Store
target/
**/*.rs.bk
Cargo.lock
**/*.orig
**/perf.data
**/perf.data.old

# Webapp Exclusions
webapp/node_modules/
webapp/dist/
webapp/pkg/

# Temporary Binaries
wasm-pack
wasm-pack.tar.gz

!.travis.yml
/fonts
output.csv
.idea/